In [1]:
import numpy as np
# numpy alised as np
import pandas as pd 
# Pandas alised as pd
import matplotlib.pyplot as plt
# matplotlib.pyplot alised as plt
import seaborn as sns
# seaborn alised as sns

#### Read the Dataset

In [3]:
df=pd.read_csv('CAR_DETAILS.csv')
print(type(df))
df.head()

<class 'pandas.core.frame.DataFrame'>

,name,Brand,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,Maruti,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,Maruti,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,Hyundai,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,Datsun,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,Honda,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [ ]:
df.shape

### Data Preprocessing

#### 1) Check the columns name

In [ ]:
df.columns

#### 2) Check the information about dataset

In [ ]:
df.info()

 #### Check the Duplicate Values

In [ ]:
df.duplicated().sum()

 #### Drop the Duplicate values

In [ ]:
df.drop_duplicates(inplace=True)

#### Check shape

In [ ]:
df.shape

#### Drop the first column

In [ ]:
df.drop(['name'],inplace=True,axis=1)

In [ ]:
df.columns

### EDA

#### Depict count of top 7 Brand on countplot

In [ ]:
plt.figure(figsize=(4,4))
sns.countplot(y=df['Brand'],order=df['Brand'].value_counts().sort_values(ascending=False)[:7].index)
plt.title('Top 7 Brand')
plt.show()

#### Inference
1)The most car used is Maruti

#### Depict count of top 4 fuel car on countplot

In [ ]:
plt.figure(figsize=(4,4))
sns.countplot(y=df['fuel'],order=df['fuel'].value_counts().sort_values(ascending=False)[:4].index)
plt.title('Top 4 fuel car')
plt.show()

#### Inference
1)The most fuel used is Petrol

#### Boxplot of  brand name with selling price

In [ ]:
sns.boxplot(x=df['Brand'],y=df['selling_price'])
plt.xticks(rotation=90)
plt.show()

#### Corelation

In [ ]:
plt.figure(figsize=(4,4))
corr=df.corr()
sns.heatmap(corr,annot=True,cmap='RdBu')
plt.show()

In [ ]:
plt.figure(figsize=(4,4))
corr=df.corr()
sns.heatmap(corr[abs(corr)>0.4],annot=True,cmap='RdBu')
plt.show()

#### Distribution of plots of selling price

In [ ]:
sns.distplot(df['selling_price'])
plt.show()

In [ ]:
r4=df['year'].value_counts().sort_values(ascending=False)[:7]
r4

In [ ]:
r4.index

In [ ]:
fig,(ax2,ax3)=plt.subplots(1,2,figsize=(10,5))


ax2.plot(df['km_driven'],df['Brand'],color='maroon',lw=2,marker='o')
ax2.set_title('Brand  vs Km_driven',color='blue')
ax2.set_xlabel('Km_driven')
ax2.set_ylabel('Brand Name')
ax2.grid()

ax3.pie(x=r4.values,labels=r4.index,
       colors=['red','blue','yellow','green','cyan','deeppink','dodgerblue','orange','orange','purple','maroon'],
       autopct='%.2f%%',shadow=True,counterclock=False)
ax3.set_title('Selling Price ',color='blue',fontsize=15)
ax3.legend(loc='right',bbox_to_anchor=(1,1,0.6,-0.5))

plt.show()

#### Compute x(independent features) and y(dependent features)

In [ ]:
x=df.drop('selling_price',axis=1)
y=df['selling_price']
print(x.shape)
print(y.shape)
print(type(x))
print(type(y))

#### Split data into train and test

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.35,random_state=19)
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)
print(type(x_train))
print(type(y_train))
print(type(x_test))
print(type(y_test))

#### Create function to compute MSE,MAE,Triel and test score

In [ ]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

In [ ]:
def reg_eval_matrics(ytest,ypred):
    mae=mean_absolute_error(ytest,ypred)
    mse=mean_squared_error(ytest,ypred)
    rmse=np.sqrt(mse)
    r2=r2_score(ytest,ypred)
    print('MAE',mae)
    print('MSE',mse)
    print('Rmse',rmse)
    print('R2 score',r2)
       
def mscore(model):
    print("Training Score",model.score(x_train,y_train))
    print("Testing Score",model.score(x_test,y_test))

#### Compute confusion_matrics, classifiation_report,accuracy_score

In [ ]:
#from sklearn.metrics import confusion_matrix,classification_report,accuracy_score

In [ ]:
#def eval_mat(ytest,ypred):
    #cm=confusion_matrix(ytest,ypred)
    #print('confusion_matrix\n',cm)
    #print('classification_report\n',classification_report(ytest,ypred))
    #print('accuracy_report\n',accuracy_score(ytest,ypred))

#### Import ML model libraries

In [ ]:
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import AdaBoostClassifier

In [ ]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

In [ ]:
x_train.dtypes

#### 1)  LinearRegression

In [ ]:
step1=ColumnTransformer(transformers=[('ohe',OneHotEncoder(drop='first',sparse=False),[0,3,4,5,6])],remainder='passthrough')
step2=LinearRegression()

pipe_lr=Pipeline([('step1',step1),('step2',step2)])

pipe_lr.fit(x_train,y_train)

ypred_lr=pipe_lr.predict(x_test)

reg_eval_matrics(y_test,ypred_lr)

mscore(pipe_lr)

#### Ridge Regression

In [ ]:
step1=ColumnTransformer(transformers=[('ohe',OneHotEncoder(drop='first',sparse=False),[0,3,4,5,6])],remainder='passthrough')
step2=Ridge(alpha=2.41)

pipe_rid=Pipeline([('step1',step1),('step2',step2)])

pipe_rid.fit(x_train,y_train)

ypred_rid=pipe_rid.predict(x_test)

reg_eval_matrics(y_test,ypred_rid)

mscore(pipe_rid)

 #### Lasso regression

In [ ]:
step1=ColumnTransformer(transformers=[('ohe',OneHotEncoder(drop='first',sparse=False),[0,3,4,5,6])],remainder='passthrough')
step2=Lasso(alpha=0.2)

pipe_la=Pipeline([('step1',step1),('step2',step2)])

pipe_la.fit(x_train,y_train)

ypred_la=pipe_la.predict(x_test)

reg_eval_matrics(y_test,ypred_la)

mscore(pipe_la)

#### 2) Random Forest Classifire Model

In [ ]:
step1=ColumnTransformer(transformers=[('ohe',OneHotEncoder(drop='first',sparse=False),[0,3,4,5,6])],remainder='passthrough')
step2= RandomForestClassifier(n_estimators=100,criterion='gini',max_depth=11,min_samples_split=7)

pipe_rd=Pipeline([('step1',step1),('step2',step2)])

pipe_rd.fit(x_train,y_train)

ypred_rd=pipe_rd.predict(x_test)

reg_eval_matrics(y_test,ypred_rd)

mscore(pipe_rd)

#### 3)Decision Tree Classifier model

In [ ]:
step1=ColumnTransformer(transformers=[('ohe',OneHotEncoder(drop='first',sparse=False),[0,3,4,5,6])],remainder='passthrough')
step2= DecisionTreeClassifier(max_depth=3,criterion='entropy',min_samples_split=8)

pipe_dt=Pipeline([('step1',step1),('step2',step2)])

pipe_dt.fit(x_train,y_train)

ypred_dt=pipe_dt.predict(x_test)

reg_eval_matrics(y_test,ypred_dt)

mscore(pipe_dt)

#### AdaBoost Classifier

In [ ]:
step1=ColumnTransformer(transformers=[('ohe',OneHotEncoder(drop='first',sparse=False),[0,3,4,5,6])],remainder='passthrough')
step2= AdaBoostClassifier()

pipe_ad=Pipeline([('step1',step1),('step2',step2)])

pipe_ad.fit(x_train,y_train)

ypred_ad=pipe_ad.predict(x_test)

reg_eval_matrics(y_test,ypred_ad)

mscore(pipe_ad)

#### Save and Load the  Model

In [ ]:
import pickle

In [ ]:
pickle.dump(pipe_lr,open('lr_model.pkl','wb'))
pickle.dump(df,open('data.pkl','wb'))

In [ ]:
df.head(20)

In [ ]:
df['fuel'].value_counts()

In [ ]:
df.dtypes